/* Code/ Design, der nur für die Add Task Seite relevant ist! */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../font/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.container {
  height: 100vh;
}

.content {
  width: 100%;
  font-size: 20px;
}

.content > h1 {
  font-size: 61px;
  margin-left: 80px;
}

.information-container {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.line {
  border-left: 1px solid #D1D1D1;
}

.input {
  padding: 12px 21px;
  color: #D1D1D1;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 20px;
  width: 396px;
}

.input-textarea {
  font-family: "Inter";
}

.prio-btns {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 16px;
  gap: 16px;
}

.prio-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 16px 10px;
  border-radius: 10px;
  font-size: 20px;
  gap: 8px;
}

.prio-width {
width: 136px;
justify-content: center;
}

.sub-task-div {
display: flex;
align-items: center;
justify-content: space-between;
}

.sub-task-input {
  border: 0;
  font-size: 20px;
  flex: 1;
  outline: none;
}

.select-field {
  width: 440px;
}

.clear-create-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 200px;
}

.dark-btn {
  background-color: #2A3647;
  color: white;
}

.red-star {
  color: red;
}