/* Code/ Design, der nur für die Add Task Seite relevant ist! */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../font/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.content {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.information-container {
  display: flex;
  justify-content: space-between;
  margin-left: 96px;
  margin-right: 70px;
  margin-bottom: 70px;
  margin-top: 48px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.line {
  border-left: 1px solid #D1D1D1;
}

.input {
  padding: 12px 21px;
  color: #D1D1D1;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  margin-top: 6px;
  margin-bottom: 32px;
  font-size: 20px;
  width: 396px;
  cursor: pointer;
}

.input:focus {
  border:1px solid transparent;
  outline:1px solid #29ABE2;
}

.input-textarea {
  font-family: "Inter";
}

.prio-btns {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 16px;
  gap: 16px;
}

.prio-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0;
  box-shadow: 0px 0px 4px 0px #0000001A;
  padding: 16px 10px;
  border-radius: 10px;
  font-size: 20px;
  gap: 8px;
  cursor: pointer;
}

.prio-btn:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.prio-width {
width: 136px;
justify-content: center;
}

.sub-task-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-task-input {
  border: 0;
  font-size: 20px;
  flex: 1;
  outline: none;
  cursor: pointer;
}

.add-icon {
  border-radius: 50%;
  padding: 3px;
}

.add-icon:hover {
  background-color: #D1D1D1;
}

.select-field {
  font-size: 20px;
  color: black !important;
  outline: none;
  border: 0;
  width: 100%;
  color: #D1D1D1;
}

.outline-blue:focus-within {
  border: 1px solid #29ABE2;
}

.clear-create-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.clear-create-btn {
  margin-top: 24px;
}

.create-btn {
  background-color: #2A3647;
  color: white;
}

.create-btn:hover {
   color: white;
   background-color: #29ABE2;
}

.clear-btn {
  box-sizing: border-box;
}

.clear-btn:hover {
  outline: 2px solid #29ABE2;
  color: #29ABE2
}

.clear-x:hover path {
  fill: #29ABE2;
}

.red-star {
  color: red;
}

.padding-right {
  padding-right: 21px;
}




.contacts-container {
  width: 396px;
  margin-top: -35px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
}

.list-options {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 10px;
  padding: 7px 21px;
}

.option:hover {
  background-color: #EEEEEE;
}

.option:has(input:checked) {
  background-color: #2A3647;
  color: white;
}

.option:has(input:checked):hover {
  background-color: #091931;
}

.white-checkbox path {
  stroke: white;
}

.short-and-fullname {
  display: flex;
  align-items: center;
  gap: 16px;
}

.short-name {
  font-size: 12px;
  padding: 12px;
  background-color: #FF7A00;
  border-radius: 50%;
  color: white;
}

.category-container {
  margin-top: -32px;
}

.d-none {
  display: none;
}

.arrow-drop-down {
  transform: rotate(180deg);
}

.categories-list {
  padding: 12px 16px;
  border-radius: 10px;
}

.categories-list:hover {
  background-color: #EEEEEE;
}

.outline:focus-within {
  border-color: #29ABE2;
}

.checked-contacts {
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 1;
}

.checked-contact {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24px;
}

.urgent-btn-change {
  background-color: #FF3D00 !important;
  color: white;
}

.medium-btn-change {
  background-color: #FFA800;
  color: white;
}

.low-btn-change {
  background-color: #7AE229;
  color: white;
}