body {
    font-family: Inter;
}

::-webkit-scrollbar {
    display: none;
}

.legal-notice {
    position: absolute;
    width: 70vw;
    top: 311px;
    left: 328px;
    gap: 24px;
}

.subtitle {
    margin-bottom: 24px;
}

svg {
    position: fixed;
    top: 225px;
    left: 90vw;
    padding: 2.5px 0px 0px 0px;
}

svg:hover {
    cursor: pointer;
}

.title-help {
    position: absolute;
    width: Hug (371px)px;
    height: Hug (73px)px;
    top: 206px;
    left: 328px;
    gap: 30px;
}

@media screen and (max-width: 1120px) {
    .title-help {
        position: absolute;
        left: 128px;
    }
    .legal-notice {
        left: 128px;
    }
    svg {
        left: 80vw;
    }
}

@media screen and (max-width: 450px) {
    .title-help {
        position: absolute;
        left: 28px;
        top: 100px;
    }
    .legal-notice {
        left: 28px;
        top: 180px;
    }
    svg {
        left: 70vw;
        top: 100px;
    }
}