body {
    font-family: Inter;
}

::-webkit-scrollbar {
    display: none;
}

.center-pp {
    width: 193px !important;
}

.d-none {
    display: none;
}

.legal-notice {
    position: absolute;
    width: 70vw;
    top: 311px;
    left: 328px;
    gap: 24px;
}

.subtitle {
    margin-bottom: 24px;
    font-family: Inter;
}

svg {
    position: fixed;
    top: 225px;
    left: 90vw;
    padding: 2.5px 0px 0px 0px;
}

svg:hover {
    cursor: pointer;
}

.title-legal {
    position: absolute;
    width: Hug (371px)px;
    height: Hug (73px)px;
    top: 206px;
    left: 328px;
    gap: 30px;
}

@media screen and (max-width: 1120px) {
    .title-legal {
        position: absolute;
        left: 120px;
    }
    .legal-notice {
        left: 120px;
    }
    svg {
        left: 85vw;
    }
}

@media screen and (max-width: 450px) {
    .title-legal {
        position: absolute;
        left: 20px;
    }
    .legal-notice {
        left: 20px;
    }
    svg {
        left: 75vw;
    }
}