body {
    font-family: Inter;
}

::-webkit-scrollbar {
    display: none;
}

.privacy-police {
    position: absolute;
    width: 70vw;
    top: 311px;
    left: 328px;
    gap: 24px;
    font-family: Inter;
}

.subtitle {
    margin-bottom: 24px;
}

svg {
    position: fixed;
    top: 225px;
    left: 90vw;
    padding: 2.5px 0px 0px 0px;
}

svg:hover {
    cursor: pointer;
}

.title-privat {
    position: absolute;
    width: Hug (371px)px;
    height: Hug (73px)px;
    top: 206px;
    left: 328px;
    gap: 30px;
    font-family: Inter;
}

.nav-privacy-policy {
    background-color: #091931;
}

@media screen and (max-width: 1120px) {
    .title-privat {
        position: absolute;
        left: 100px;
    }
    .privacy-police {
        left: 100px;
    }
    svg {
        left: 90vw;
    }
}

@media screen and (max-width: 450px) {
    .title-privat {
        position: absolute;
        left: 20px;
    }
    .privacy-police {
        left: 20px;
    }
    svg {
        left: 85vw;
    }
}