body {
    background-color: #F6F7F8;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    top: 80px;
    left: 77px;
    display: flex;
}

.logo {
    width: 100px;
    height: 122px;
}

.signup-content {
    height: 100vh;
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 598px;
    background-color: white;
    border-radius: 30px;
    padding: 48px 88px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.back {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 64px;
    left: 48px;
    cursor: pointer;
}

.blue-underscore {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
    margin-top: 16px;
    margin-bottom: 32px;
}

.input-wrapper {
    width: 422px;
    height: 48px;
    padding: 0 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.input-wrapper:focus-within {
    border: 1px solid var(--hover-color);
}

.input-field {
    flex: 1;
    border: unset;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.input-field::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #D1D1D1;
}

.input-field:focus {
    outline: unset;
}

.privacy-policy-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.i-accept {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
}

.privacy-policy-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--hover-color);
}

.privacy-policy-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.checkbox {
    cursor: pointer;
}

.signup-btn {
    padding: 15px 24px;
    border-radius: 8px;
    border: unset;
    background-color: var(--default-color);
    color: white;
    font-size: 21px;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

.signup-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.signup-btn:active {
    background-color: var(--click-color);
}

.signup-btn:disabled {
    background-color: #D9D9D9;
}

.no-margin {
    margin: 0 !important;
}

.info-text {
    width: 422px;
    font-size: 12px;
    font-weight: 400;
    color: #FF8190;
    margin-top: 8px;
    visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100vh);
    transform: translateY(100svh);
    transition: transform 0.1s ease-in-out;
}

.success-message {
    padding: 25px;
    border-radius: 20px;
    background-color: var(--default-color);
    color: white;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(100vh);
    transform: translateY(100svh);
    transition: transform 0.5s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-link {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.footer-link:hover {
    cursor: pointer;
    color: var(--hover-color);
    font-weight: 700;
}

/* Responsive Design */
@media screen and (max-width: 970px) {
    .logo-container {
        left: 38px;
        top: 37px;
    }

    .logo {
        width: 64px;
        height: 78px;
    }
}

@media screen and (max-width: 920px) {
    .signup-form {
        width: unset;
        padding: 32px 48px;
    }
}

@media screen and (max-width: 725px) {
    .signup-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .logo-container {
        position: unset;
        width: 100%;
        justify-content: flex-start;
        padding-left: 32px;
    }

    .footer {
        position: unset;
    }
}

@media screen and (max-width: 550px) {
    .signup-content {
        padding: 0 8px;
    }

    .signup-form {
        width: 100%;
        padding: 32px 24px;
    }

    .back {
        left: 24px;
    }

    .input-wrapper {
        width: 100%;
        padding: 0 16px;
        margin-bottom: 16px;
    }

    .input-field {
        width: 100%;
    }

    .info-text {
        width: 100%;
    }
}