:root {
    --default-color: #2A3647;
    --hover-color: #29ABE2;
    --click-color: #091931;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

h1 {
    font-size: 61px;
    font-weight: 700;
    color: #000000;
}

.ml-96 {    /* Standard-Abstand zwischen Navbar und h1*/
    margin-left: 96px;
}

.mt-110 {   /* Standard-Abstand zwischen Header und h1*/
    margin-top: 110px;
}

/* -------------------- page-content -------------------- */ 

.page-content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main-content {
    width: 100%;
    display: flex;  /* --> muss dem template hinzugefügt werden! */
    flex-direction: column; /* --> muss dem template hinzugefügt werden! */
    background-color: #F6F7F8;
}

/* -------------------- header -------------------- */ 

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.title {
    padding-left: 400px;
}

.help-user {
    display: flex;
    align-items: center;
}

.help {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.help:hover {
    transform: scale(1.2);
}

.user-short {
    margin: 16px;
    color: #29abe2;
    border-radius: 100%;
    border: 3px solid #2a3647;
    padding: 10px;
}

.user-short:hover {
    background-color: #0c2e621f;
}

/* -------------------- Navigations-Bar -------------------- */

nav {
    height: 100%;
    min-width: 232px;
    background-color: #2a3647;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #CDCDCD;
}

.logo-and-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.logo-white-navbar {
    width: 100px;
    height: 122px;
    margin-top: 64px;
    margin-bottom: 120px;
}

.options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: #CDCDCD;
    padding: 8px 0 8px 42px;
}

.options:hover {
    background-color: #2A3D59;
}

.center {
    width: 100%;
}

.icon-navbar {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 8px;
}

.policy {
    display: flex;
    margin-bottom: 15px;
    text-decoration: none;
    color: #CDCDCD;
    padding: 8px 0;
    flex-direction: column;
    margin-bottom: 64px;
}

.policy > a {
    text-decoration: none;
    color: #CDCDCD;
    margin-top: 8px;
    font-weight: 400;
}

.policy > a:hover{
    color: #29ABE2;
    transform: scale(1.05);
}
