<!-- Mustervorlage zum erstellen der Seiten - In das div mit der class="content" kommt der Code für die verschiedenen Seiten ! -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <title>JOIN - Add Task</title>
    <link rel="stylesheet" href="../css/templates.css">
    <script src="../../js/templates.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/00_general-elements/join-logo-dark.svg">
</head>
<body onload="includeHTML()">
    <header w3-include-html="../assets/templates/header.html"></header>

    <div class="container">
        <nav w3-include-html="../assets/templates/navbar.html"></nav>

        <!-- Container zum erstellen der verschiedenen Seiten ! -->
        <div class="content">

        </div>
    </div>
</body>
</html>