<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>JOIN - Add Task</title>

    <link rel="stylesheet" href="../../css/templates.css">
    <link rel="stylesheet" href="../../css/add_task.css">
    <script src="../../js/templates.js"></script>
    <script src="../../js/add_task.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/img/00_general-elements/join-logo-dark.svg">
</head>

<body onload="includeHTML()">
    <div class="container">
        <nav w3-include-html="./navbar.html"></nav>
        <div class="content-container">
            <header w3-include-html="./header.html"></header>
            <div class="content">
              <!-- Hier kommt der content eurer Seite rein !  --> 
            </div>
        </div>
    </div>
</body>
</html>
