<!-- Mustervorlage zum erstellen der Seiten - In das div mit der class="content" kommt der Code für die verschiedenen Seiten ! -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <title>JOIN - Add Task</title>
    <link rel="stylesheet" href="../css/templates.css">
    <script src="../../js/templates.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/00_general-elements/join-logo-dark.svg">
</head>
<body onload="includeHTML()">
    <div class="container">
        <nav w3-include-html="./navbar.html"></nav>
        <div class="content-container">
            <header w3-include-html="./header.html"></header>
            <div class="content">
                <!-- HIER den Code für die Seite eingeben ! -->
            </div>
        </div>
    </div>
</body>
</html>