<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>JOIN</title>
    
    <link rel="stylesheet" href="../../css/templates.css">
    <script src="../../js/templates.js"></script>
    <link rel="icon" type="image/x-icon" href="../../assets/img/00_general-elements/join-logo-white.svg">
</head>

<body onload="includeHTML()">
    <div class="page-content">
        <nav w3-include-html="../assets/templates/navbar.html"></nav>
        <main class="main-content">
            <header w3-include-html="../assets/templates/header.html"></header>
            <div class="content">
              <!-- Hier kommt der content eurer Seite rein !  --> 
            </div>
        </main>
    </div>
</body>
</html>
