<span class="title">Kanban Project Management Tool</span>
<img class="logo-header-dark d-none" src="../assets/img/00_general-elements/join-logo-dark.svg" alt="Logo white">
<div class="help-user">
    <a href="./help.html"><img class="help" src="../assets/img/00_general-elements/help.svg" alt="Question mark"></a>
    <div class="user-short" id="user-short" onclick="openUserMenu(); stopPropagation(event)">G</div>
    <div id="user_menu" class="user-menu d-none fly-in-user">
        <a href="../html/help.html">Help</a>
        <a href="../html/legal_notice.html">Legal Notice</a>
        <a href="../html/privacy_policy.html">Privacy Police</a>
        <a class="logout" onclick="logOut()">Log out</a>
    </div>
</div>