<div id="ppWidth" class="logo-and-options">
    <img class="logo-white-navbar" src="../assets/img/00_general-elements/join-logo-white.svg" alt="Logo">
    <div class="center" id="ppNone">
        <a class="options nav-summary" href="../html/summary.html">
            <img class="icon-navbar" src="../assets/img/00_general-elements/summary-grey.svg" alt="Summary">
            <span>Summary</span>
        </a>
        <a class="options nav-addtask" href="../html/add_task.html">
            <img class="icon-navbar" src="../assets/img/00_general-elements/addtask-grey.svg" alt="Add Task">
            <span>Add Task</span>
        </a>
        <a class="options nav-board" href="../html/board.html">
            <img class="icon-navbar" src="../assets/img/00_general-elements/board-grey.svg" alt="Board">
            <span>Board</span>
        </a>
        <a class="options nav-contacts" href="../html/contacts.html">
            <img class="icon-navbar" src="../assets/img/00_general-elements/contacts-grey.svg" alt="Contacts">
            <span>Contacts</span>
        </a>
    </div>
</div>

<div class="policy">
    <a class="nav-privacy-policy" id="ppNoneA" href="./privacy_policy.html">Privacy Police</a>
    <a class="nav-legal-notice" id="lnNoneA"  href="./legal_notice.html">Legal notice</a>
    <a onclick="logOut()">Log out</a>
</div>