<div class="logo-and-options">
    <img class="logo-white-navbar" src="../img/logo_white.svg" alt="Logo">
    <div class="center">
        <a class="options" href="#">
            <img class="icon-navbar" src="../img/summary.svg" alt="Summary">
            <span>Summary</span>
        </a>
        <a class="options" href="#">
            <img class="icon-navbar" src="../img/addtask.svg" alt="Add Task">
            <span>Add Task</span>
        </a>
        <a class="options" href="#">
            <img class="icon-navbar" src="../img/board.svg" alt="Board">
            <span>Board</span>
        </a>
        <a class="options" href="#">
            <img class="icon-navbar" src="../img/contacts.svg" alt="Contacts">
            <span>Contacts</span>
        </a>
    </div>
    
</div>

<div class="policy">
    <a href="#">Help</a>
    <a href="#">Privacy Police</a>
    <a href="#">Legal notice</a>
    <a href="#">Log out</a>
</div>